body {
	background-color: #d0d0d072;
}

.App {
	display: flex;
	justify-content: center;
	font-family: "Roboto";
}
.wrapper {
	margin: 10px;
	padding: 10px;
}
.title {
	margin-left: 20px;
}

.form {
	flex-direction: column;
	margin: 10px;
	padding: 20px;
}
.formWrapper {
	margin: 10px;
	/* max-width: 720px; */
}

.formInputs {
	display: flex;

	flex-direction: column;
}

.formShortInputs {
	display: flex;
	flex-direction: row;
}
.formShortInput {
	margin: 0 40px 0 0px;
}
.formSubmit {
	margin: 10px;
	align-self: flex-end;
}

.itemTask {
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.taskList {
	width: 700px;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.item {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
}
.itemDescription {
	display: flex;
	flex-direction: column;
}
#created {
	align-self: flex-end;
	font-size: 10px;
	margin-right: 10px;
}

#description {
	margin: 10px;
	align-self: flex-start;
	font-size: 14px;
}

.editField {
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.editIcons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.editIcon {
	margin: 10px;
	cursor: pointer;
}
.editIconTitle {
	margin: 10px;
}

.buttonWrapper {
	margin: 0px 10px 0px 0px;
	display: flex;
	justify-content: flex-start;
}
.buttonItems {
	margin: 10px;
	cursor: pointer;
}

.displayItemStatus {
}
.displayItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@media screen and (max-width: 750px) {
	.taskList {
		width: 300px;
		margin: 10px;
		padding: 10px;
		background-color: #39bbf7;
	}
}
