.App {
	display: flex;
	justify-content: center;
	font-family: "Roboto";
}
.form {
	/* display: flex; */
	flex-direction: column;
	margin: 10px;
	padding: 20px;
}
.formWrapper {
	margin: 10px;
	/* max-width: 720px; */
}

.formInputs {
	margin: 10px;
}

.formSubmit {
	margin: 10px;
	align-self: flex-end;
}

.itemTask {
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.taskList {
	width: 700px;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: #39bbf7;
}

.item {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
}
.itemDescription {
	display: flex;
	flex-direction: column;
}
#created {
	align-self: flex-end;
	font-size: 10px;
	color: #b0b0b0;
	margin-right: 10px;
}
#description {
	margin: 10px;
	align-self: flex-start;
	font-size: 14px;
}
